.about {
  display: flex;
  flex-direction: column;
  animation: fadein 1s;
}
.mission {
  position: relative;
  width: 100vw;
  height: 100vh;

  .hand {
    position: absolute;
    width: 593px;
    height: 603px;
    margin-left: 77%;
    padding: 0;
  }
  .mission_text {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 90px;
    right: 0;
    top: 20px; /* Adjust this value to move the positioned div up and down */
    h1 {
      font-size: 72px;
      color: #60246c;
      font-weight: bolder;
      text-transform: uppercase;
      letter-spacing: 0.1em;

      transform: scale(1, 0.97);
      margin-bottom: 45px;
    }
    p {
      font-size: 24px;
      line-height: 48px;
      letter-spacing: 0.03em;
      width: 700px;
    }
  }
}
.handbook {
  width: 100%;
  position: relative;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  h1 {
    margin-left: 90px;
    right: 0;
    font-size: 72px;
    color: #60246c;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 0.1em;

    transform: scale(1, 0.97);
    margin-bottom: 30px;
  }
  .flipbook {
    margin: auto auto;
    margin-left: 50px;
    width: 1400px;
    min-height: 300px;
    /*outline: 5px solid pink;*/
    position: relative;
    display: flex;
    flex-direction: row;
    .left_panel {
      position: relative;
      text-align: right;
      width: 400px;
      .chapter {
        position: relative;
        cursor: pointer;
        line-height: 48px;
        font-size: 24px;
        width: 350px;
        display: inline-block;
        .tria {
          width: 0;
          height: 0;
          border-top: 15px solid transparent;
          border-bottom: 15px solid transparent;
          border-left: 15px solid #60246c;
          z-index: 999;
          background-color: transparent;
          float: right;
          position: absolute;
          top: 9px;
          left: 365px;
        }
      }
      .chapter.purple {
        font-weight: bold;
        color: #60246c;
      }
    }
    .left_panel_locked {
      position: fixed;
      text-align: right;
      left: 50px;
      top: 19px;
      width: 400px;
      .chapter {
        position: relative;
        cursor: pointer;
        line-height: 48px;
        font-size: 24px;
        width: 350px;
        display: inline-block;
        .tria {
          width: 0;
          height: 0;
          border-top: 15px solid transparent;
          border-bottom: 15px solid transparent;
          border-left: 15px solid #60246c;
          z-index: 999;
          background-color: transparent;
          float: right;
          position: absolute;
          top: 9px;
          left: 365px;
          cursor: pointer;
        }
      }
      .chapter.purple {
        font-weight: bold;
        color: #60246c;
      }
    }
    .line {
      border-left: 5px solid #fde05b;
      margin-left: 45px;
      margin-top: -25px;
    }
    .line_locked {
      position: fixed;
      border-left: 5px solid #fde05b;
      /*left: 31.9vw;*/
      left: 495px;
      top: 0px;
      bottom: 0;
    }
    .right_panel {
      position: relative;
      margin-left: 50px;
      /*margin-left: 480px;*/

      min-height: 200px;
      width: 800px;
      padding-bottom: 50px;
      h1 {
        color: black;
        font-size: 36px;
        text-align: left;
        text-transform: Capitalize;
        letter-spacing: 0.05em;
        margin-left: 0px;
        margin-bottom: 25px;
      }
      .image-cropper {
        width: 474px;
        height: 474px;
        position: relative;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 36px;
      }
      .my-picture {
        width: 100%;
        height: 100%;
        &#kat {
          transform: scaleX(1.25);
        }
        &#cas {
          transform: scaleY(1.12);
        }
        &#kana {
          margin-top: 120px;
          transform: scale(1.5, 1.5) scaleX(0.67);
        }
        &#nealie {
          transform: scaleX(1.3);
        }
        &#ali {
          transform: scaleY(1.07);
        }
        &#bai {
          margin-top: 120px;
          transform: scaleY(1.508);
        }
      }
      .right_content {
        width: 100%;
        font-size: 18px;
        letter-spacing: 0.05em;
        line-height: 36px;
      }
      .right_content.boldy {
        font-weight: bold;
      }
      .role {
        position: relative;
        width: 100%;
        h2 {
          width: auto;
          font-size: 20px;
          letter-spacing: 0.05em;
          line-height: 36px;
          display: inline-block;
        }
        .tria {
          width: 0;
          height: 0;
          border-top: 10px solid #fde05b;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          z-index: 999;
          background-color: transparent;
          float: right;
          position: relative;
          cursor: pointer;
          margin-top: 13px;
          margin-left: 3px;
        }
        h4 {
          font-size: 18px;
          line-height: 36px;
        }
        .tria.flipped {
          transform: rotate(270deg);
        }
      }
    }
    .right_panel_locked {
      position: relative;
      margin-left: 500px;

      min-height: 200px;
      width: 800px;
      padding-bottom: 50px;
      h1 {
        color: black;
        font-size: 36px;
        text-align: left;
        text-transform: Capitalize;
        letter-spacing: 0.05em;
        margin-left: 0px;
        margin-bottom: 25px;
      }
      .imeg {
        width: 440px;
        height: 440px;
        border-radius: 50%;
        background-image: url("C:/Users/Shawn/Documents/aus_react/client/src/imgs/about/AUS\ -\ Kat.jpg");
      }
      .image-cropper {
        width: 474px;
        height: 474px;
        position: relative;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 36px;
      }
      .my-picture {
        width: 100%;
        height: 100%;
        &#kat {
          transform: scaleX(1.25);
        }
        &#cas {
          transform: scaleY(1.12);
        }
        &#kana {
          margin-top: 120px;
          transform: scale(1.5, 1.5) scaleX(0.67);
        }
        &#nealie {
          transform: scaleX(1.3);
        }
        &#ali {
          transform: scaleY(1.07);
        }
        &#bai {
          margin-top: 120px;
          transform: scaleY(1.508);
        }
      }
      .right_content {
        width: 100%;
        font-size: 18px;
        letter-spacing: 0.05em;
        line-height: 36px;
        transform: scale(1, 1);
      }
      .right_content.boldy {
        font-weight: bold;
      }
      .role {
        position: relative;
        width: 100%;
        h2 {
          font-size: 20px;
          letter-spacing: 0.05em;
          line-height: 40px;
          display: inline-block;
        }
        .tria {
          width: 0;
          height: 0;
          border-top: 10px solid #fde05b;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          z-index: 999;
          background-color: transparent;
          float: right;
          position: relative;
          margin-top: 13px;
          margin-left: 3px;
          cursor: pointer;
        }
        .tria.flipped {
          transform: rotate(270deg);
        }
        h4 {
          font-size: 18px;
          line-height: 36px;
        }
      }
    }
  }

  .members {
    margin-top: 40px;
    width: 1400px;
    min-height: 600px;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes colorin {
  from {
    color: black;
    font-weight: normal;
  }
  to {
    color: #60246c;
    font-weight: bold;
  }
}
