@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.Home {
  -webkit-animation: fadein 1s;
  animation: fadein 1s;
  width: 100%;
}
.page1 {
  position: relative;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 0px;
  padding-bottom: 2.57vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  .handcropper {
    margin-left: 60px;
    width: 42.5039vw;
    height: 84.2105vh;
    padding: 0;
    border-radius: 50%;
    overflow: hidden;
    display: block;
    -webkit-box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }
  img {
    width: 593px;
    height: 603px;
    margin: 0;
    margin-left: 3.091%; //40px;
  }
  .p1text {
    width: 683px; //52.782%; //683px;
    margin-top: (100vw * 125/1294);
    margin-left: -100vw * (120/1294);
    h1 {
      width: 683px;
      font-weight: 900;
      font-size: 72px; //100vw * (72/1294);
      text-transform: uppercase;
      color: #60246c;
      letter-spacing: 0.1em;
      font-stretch: extra-condensed;
      font-weight: bolder;
      //margin-bottom: -30px; //-100vw * (30/1294);
    }
    h2 {
      width: 683px;
      font-size: 36px;
      color: #60246c;
      letter-spacing: 0.06em;
      font-weight: normal;
      margin-bottom: 100vw * 13/1294;
    }
    p {
      width: 683px;
      font-size: 24px;
      margin-bottom: 100vw * 5/1294;
      letter-spacing: 0.03em;
    }
    #learn_more {
      color: white;
      font-weight: lighter;
      margin-top: 100vw * 25/1294;
      height: 100%;
      transform-style: preserve-3d;
      -webkit-transform-style: preserve-3d;
      -o-transition: 0.25s;
      transition: 0.25s;
      -webkit-transition: 0.25s;

      width: 210px; //210px;
      height: 60px; //px;
      cursor: pointer;
      perspective: 500px;
      -webkit-perspective: 500px;
      background: none;
    }
    #learn_more span {
      -webkit-transition: background-color 0.25s ease;
      -o-transition: background-color 0.25s ease;
      transition: background-color 0.25s ease;
      width: 100%;
      height: 100%;
      position: absolute;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      line-height: 50px;
      font-size: 24px;
      text-align: center;
      background: #60246c;
      padding-top: 0.3864vw;
      font-weight: lighter;
      letter-spacing: 0.07em;
      border-radius: 10px;
      &:hover {
        -webkit-box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
          0 17px 50px 0 rgba(0, 0, 0, 0.19);
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
          0 17px 50px 0 rgba(0, 0, 0, 0.19);
      }
    }
  }

  .arrow-down {
    position: absolute;
    bottom: 10px;
    right: 20px;
    // top: 0;//100vw * (580/1294);
    // right: 0;
    // left: auto;//93.51%;

    width: 0;
    height: 0;
    border-left: 28px solid transparent;
    border-right: 28px solid transparent;
    border-top: 28px solid #60246c;

    cursor: pointer;
  }
}

.page2 {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 0;
  margin-top: 0px;
  text-align: center;
  width: 100%;
  .arrow-up {
    position: absolute;
    bottom: 50px;
    right: 20px;

    width: 0;
    height: 0;
    border-left: 28px solid transparent;
    border-right: 28px solid transparent;
    border-bottom: 28px solid #fde05b;
    opacity: 1;

    cursor: pointer;
  }
  .arrow-down {
    position: absolute;
    bottom: 10px;
    right: 20px;

    width: 0;
    height: 0;
    border-left: 28px solid transparent;
    border-right: 28px solid transparent;
    border-top: 28px solid #60246c;

    cursor: pointer;
  }
  .eventhead {
    font-size: 48px;
    letter-spacing: 0.05em;
    font-stretch: extra-condensed;
    font-weight: normal;
    margin-bottom: 100vw * 20/1294;
    z-index: 999;
  }
  .yellow_box {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 390px;
    background-color: #fde05b;
    margin-bottom: -370px; //px;
    position: relative;
  }
  button {
    background-color: transparent;
    outline: none;
  }
  h1 {
    margin-bottom: 3.5vh;
  }

  .events {
    position: relative;
    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    height: 720px;
    //background-color: blue;
    margin: auto auto;
    margin-top: 0;
    //padding-top: 110px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    .event-button-container {
      width: 30px; //2.318%; //30px;
      height: 650px; //650px; //81.25%; //97.7443%; //650px;
      margin: 0;
      padding: 0;
      position: relative;
      .button_left {
        position: absolute;
        -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
        width: 0;
        height: 0;
        top: 248px; //38%;
        right: 0;
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent;
        border-right: 30px solid #60246c;
        z-index: 999;
        background-color: transparent;
        outline: none;
        &:focus {
          outline: none;
        }
      }

      .button_right {
        position: absolute;
        top: 248px; //38%;
        width: 0;
        height: 0;
        left: 0;

        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent;
        border-left: 30px solid #60246c;
        z-index: 999;
        background-color: transparent;
        outline: none;
        &:focus {
          outline: none;
        }
      }
    }
    .viewer {
      position: relative;
      width: 1150px; //1150px;
      //background-color: red;
      height: 690px; //650px; //81.25%; //97.7443%; //650px;
      padding: 0px;
      overflow: hidden;
      .events_slider_wrapper {
        position: absolute;
        content: "";
        width:100%;
        height: 100%;
        margin: 0px;
        -webkit-transition: -webkit-transform 400ms
          cubic-bezier(0.455, 0.03, 0.515, 0.955);
        transition: -webkit-transform 400ms
          cubic-bezier(0.455, 0.03, 0.515, 0.955);
        -o-transition: transform 400ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
        transition: transform 400ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
        transition: transform 400ms cubic-bezier(0.455, 0.03, 0.515, 0.955),
          -webkit-transform 400ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
        top: 0;
        left: 29.3%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex: 0 0 474px; //474px;
        .event {
          /*display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;*/
          width: 474px; //100% * (474/1150); //474px;
          height: 690px; //;100%;
          margin: 0;
          margin-right: -50px; //-50px;
          -webkit-transform: scale(0.575949367);
          -ms-transform: scale(0.575949367);
          transform: scale(0.575949367);
          -webkit-transition: -webkit-transform 400ms ease-in-out;
          transition: -webkit-transform 400ms ease-in-out;
          -o-transition: transform 400ms ease-in-out;
          transition: transform 400ms ease-in-out;
          transition: transform 400ms ease-in-out,
            -webkit-transform 400ms ease-in-out;
          .img-crop {
            width: 474px;
            height: 474px;
            border-radius: 50%;
            overflow: hidden;
            img {
              display: block;
              margin: 0 auto;
              width: 474px;
              height: 474px;
              -webkit-box-shadow: 5px 5px 6px grey;
              box-shadow: 5px 5px 6px grey;
              -webkit-transition: all 0.4s ease-in-out;
              -o-transition: all 0.4s ease-in-out;
              transition: all 0.4s ease-in-out;
            }
          }
          p {
            width: 100%; //474px;
            text-align: center;
            font-size: 24px;
            font-weight: bold;
            letter-spacing: 0.1em;
            margin-top: 5vh;
          }
        }
        .event_big {
          /* display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;*/
          margin-top: 0vh;
          -webkit-transition: all 0.4s ease-in-out;
          -o-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
          width: 474px; //100% * (474/1150); //474px;
          margin: 0;
          margin-right: -50px;
          .img-crop {
            width: 474px;
            height: 474px;
            border-radius: 50%;
            overflow: hidden;
            img {
              width: 474px; //100%; //474px;
              height: 474px; //100% * (474/650);
              -webkit-box-shadow: 12px 12px 6px grey;
              box-shadow: 12px 12px 6px grey;
              -webkit-transition: all 0.4s ease-in-out;
              -o-transition: all 0.4s ease-in-out;
              transition: all 0.4s ease-in-out;
            }
          }
          p {
            width: 100%; //474px;
            font-size: 24px;
            font-weight: bold;
            letter-spacing: 0.1em;
            margin: 0;
            margin-top: 2.57vw;
          }
          .date {
            text-align: center;
            width: 100%; //474px;
            font-size: 24px;
            font-weight: lighter;
            letter-spacing: 0.1em;
            margin: 0;
            margin-top: 0.7709vw;
            -webkit-animation: fadein 0.4s;
            animation: fadein 0.4s;
            opacity: 1;
          }
        }
      }
    }
  }
}

.page3 {
  background-color: #60246c;
  height: 800px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative;
  width: 100%;
  overflow: hidden;
  .arrow-up {
    position: absolute;
    bottom: 10px;
    right: 20px;

    width: 0;
    height: 0;
    border-left: 28px solid transparent;
    border-right: 28px solid transparent;
    border-bottom: 28px solid #fde05b;
    opacity: 1;
    cursor: pointer;
  }
  .events_container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .events_container .day_detail {
    position: relative;
    top: 0;
    border-radius: 50%;
    background-color: #fde05b;
    text-align: left;
    width: 1002px;
    height: 1002px;
    -webkit-box-shadow: 15px 15px 6px rgba(43, 42, 42, 0.3);
    box-shadow: 15px 15px 6px rgba(43, 42, 42, 0.3);
    margin-left: -470px;
    z-index: 777;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    h1,
    h2,
    p {
      margin-left: 500px;
      width: 400px;
      -webkit-transition: margin-left 700ms;
      -o-transition: margin-left 700ms;
      transition: margin-left 700ms;
    }
    h1 {
      margin-top: 170px;
      font-size: 36px;
      letter-spacing: 0.1em;
      margin-bottom: 25px;
    }
    h2 {
      font-size: 24px;
      font-weight: bold;
      letter-spacing: 0.05em;
      margin-bottom: 25px;
    }
    p {
      font-size: 24px;
      letter-spacing: 0.05em;
    }
    .transparent {
      color: transparent;
    }
  }
  .calendar_zone {
    position: relative;
    border-radius: 50%;
    background-color: white;
    width: 1002px;
    height: 1002px;
    -webkit-box-shadow: -15px -15px 6px rgba(43, 42, 42, 0.3);
    box-shadow: -15px -15px 6px rgba(43, 42, 42, 0.3);
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-top: 60px;
    margin-left: -65px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .calendar_container {
    margin-left: 130px;
    width: 680px;
    h1 {
      width: 100%;
      margin-left: 0;
      text-align: center;
      font-size: 48px;
      margin-top: 85px;
      margin-bottom: 20px;
      letter-spacing: 0.05em;
      font-weight: normal;
    }
    table {
      width: 674px;
      height: 444px;
      max-height: 444px;
      text-align: center;
      font-size: 24px;
      border-collapse: border;
      border: none;
      table-layout: fixed;
    }
    tbody {
      border-collapse: border;
      tr {
        height: 10px;
        border: none;
        td {
          padding: 0;
          margin: 0;
        }
      }
    }
    thead {
      height: 100px;
      width: 100%;
      tr {
        height: 10px;
        border-collapse: border;
        border: none;
        th {
          font-weight: normal;
          text-transform: uppercase;
          text-align: center;
          height: 0px;
        }
      }
    }
    .calendar_day {
      width: 14%;
      height: 0;
      text-align: center;

      div {
        cursor: pointer;
        margin: auto;
        height: 40px;
        width: 50px;
        &.today {
          background-color: #fde05b;
        }
      }
    }
    .calendar_navi {
      text-align: center;
      margin-bottom: 25px;
      font-size: 24px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      p {
        text-align: center;
        width: 200px;
        padding-top: 15px;
      }
      .right_arrow {
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 15px solid black;
        z-index: 999;
        background-color: transparent;
      }
      .left_arrow {
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-right: 15px solid black;
        background-color: transparent;
      }
    }
  }
}

.learn {
  margin-left: 500px;
  margin-top: 25px;
  height: 100%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-transition: 0.25s;

  width: 200px;
  height: 60px;
  cursor: pointer;
  perspective: 500px;
  -webkit-perspective: 500px;
  z-index: 999;
  span {
    -webkit-transition: background-color 0.25s ease;
    -o-transition: background-color 0.25s ease;
    transition: background-color 0.25s ease;
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 50px;
    font-size: 17pt;
    text-align: center;
    background: #60246c;
    padding-top: 5px;
    color: white;
    font-weight: lighter;
    letter-spacing: 0.07em;
    border-radius: 20px;
    z-index: 999;
  }
}

.prevNext-container {
  .learn{
    span.choose {
      -webkit-transition: background-color 0.25s ease;
      -o-transition: background-color 0.25s ease;
      transition: background-color 0.25s ease;
      width: 100%;
      height: 100%;
      position: absolute;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      line-height: 50px;
      font-size: 12pt;
      text-align: center;
      background: #60246c;
      padding-top: 0px;
      color: white;
      font-weight: lighter;
      letter-spacing: 0.07em;
      border-radius: 20px;
      z-index: 999;
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .page1 {
    .arrow-down {
      display: none;
      visibility: hidden;
    }
    img {
      width: 45.8426%; //593px;
      height: 46.5996908%; //603px;
      margin: 0;
      margin-left: 3.091%; //40px;
    }
    .p1text {
      width: 60.787%;
      margin-left: -60px;
      h1 {
        width: 100%;
        font-size: 36px;
      }
      h2 {
        width: 100%;
        font-size: 20px;
      }
      p {
        width: 100%;
        font-size: 10px;
      }
      #learn_more {
        width: 105px;
        height: 30px;
        span {
          line-height: 25px;
          font-size: 12px;
        }
      }
    }
  }
  .page2 {
    .arrow-up,
    .arrow-down {
      display: none;
      visibility: hidden;
    }
    .eventhead {
      font-size: 15px;
    }
    .yellow_box {
      height: 100vw * (390/1294);
      margin-bottom: -100vw * (370/1294); //px;
    }
    .events {
      height: 100vw * (750/1294);
      .event-button-container {
        width: 100vw * (30/1294); //2.318%; //30px;
        height: 100vw * (650/1294); //650px; //81.25%; //97.7443%; //650px;
        .button_left {
          top: 100vw * (248/1294); //38%;
          right: 0;
          border-top: 100vw * (30/1294) solid transparent;
          border-bottom: 100vw * (30/1294) solid transparent;
          border-right: 100vw * (30/1294) solid #60246c;
        }
        .button_right {
          top: 100vw * (248/1294); //38%;
          right: 0;
          border-top: 100vw * (30/1294) solid transparent;
          border-bottom: 100vw * (30/1294) solid transparent;
          border-left: 100vw * (30/1294) solid #60246c;
        }
      }
      .viewer {
        width: 100vw * (1150/1294); //1150px;
        height: 100vw * (750/1294); //650px; //81.25%; //97.7443%; //650px;
        .events_slider_wrapper {
          .event,
          .event_big {
            width: 100vw * (474/1294); //100% * (474/1150); //474px;
            height: 100vw * (690/1294);
            margin-right: -100vw * (50/1249); //-50px;
            p {
              font-size:10px;// 100vw * (24/1294); //px;
            }
            .date {
              font-size: 10px;
            } 
            .img-crop {
              width: 100vw*474/1294;
              height: 100vw*474/1294;
              img {
                display: block;
                margin: 0 auto;
                width: 100vw*474/1294;
                height: 100vw*474/1294;
              }
            }
          }
        }
      }
    }
  }
  .page3 {
    height: 100vw * 800/1294;
    .arrow-up {
      display: none;
      visibility: hidden;
      border-left: 100vw * (28/1294) solid transparent;
      border-right: 100vw * (28/1294) solid transparent;
      border-bottom: 100vw * (28/1294) solid #fde05b;
    }
    .events_container .day_detail {
      width: 100vw * (1002/1294);
      height: 100vw * (1002/1294);
      margin-left: -100vw * (470/1294);
      h1,
      h2,
      p {
        margin-left: 100vw * (500/1294);
        width: 100vw * (400/1294);
      }
      h1 {
        margin-top: 100vw * (170/1294);
        font-size: 100vw * 36/1294;
        margin-bottom: -20px;
      }
      h2 {
        font-size: 100vw * 24/1294;
        margin-bottom: 100vw * 25/1294;
      }
      p {
        font-size: 100vw * 24/1294;
        letter-spacing: 0.05em;
      }
      .learn {
        margin-left: 100vw * 500/1294;
        margin-top: 100vw * 25/1294;

        width: 100vw * 200/1294;
        height: 100vw * 60/1294;
        span {
          font-size: 100vw * (17 * 4/3)/1294;
          line-height: 100vw * 50/1294;
          padding-top: 100vw * 5/1294;
        }
      }
      .right_arrow {
        border-top: 150vw * 15/1294 solid transparent;
        border-bottom: 150vw * 15/1294 solid transparent;
        border-left: 150vw * 15/1294 solid black;
      }
      .left_arrow {
        border-top: 150vw * 15/1294 solid transparent;
        border-bottom: 150vw * 15/1294 solid transparent;
        border-right: 150vw * 15/1294 solid black;
      }
    }
    .events_container {
      .calendar_zone {
        width: 100vw * (1002/1294);
        height: 100vw * (1002/1294);
        margin-top: 100vw * (60/1294);
        margin-left: -100vw * (65/1294);
        .calendar_container {
          margin-left: 100vw * 130/1294;
          width: 100% * (680/1002);
          h1 {
            font-size: 100vw * 48/1294;
            margin-top: 100vw * 85/1294;
            margin-bottom: 100vw * 20/1294;
          }
          table {
            margin-top: -20px;
            width: 100% * 674/680;
            height: 100vw * 444/1294;
            max-height: 100vw * 444/1294;
            text-align: center;
            font-size: 100vw * 24/1294;
          }
          tbody {
            border-collapse: border;
            tr {
              height: 100vw * 10/1294;
              border: none;
              td {
                padding: 0;
                margin: 0;
              }
            }
          }
          thead {
            height: 100vw * 50/1294;
            width: 100%;
            tr {
              height: 100vw * 1/1294;
              border-collapse: border;
              border: none;
              th {
                font-weight: normal;
                text-transform: uppercase;
                text-align: center;
                height: 0px;
              }
            }
          }
          .calendar_day {
            div {
              height: 100vw * 40/1294;
              width: 100vw * 50/1294;
            }
          }
          .calendar_navi {
            margin-bottom: 10vw * 25/1294;
            font-size: 100vw * 24/1294;
            p {
              width: 100vw * 200/1294;
            }
            .right_arrow {
              border-top: 150vw * 15/1294 solid transparent;
              border-bottom: 150vw * 15/1294 solid transparent;
              border-left: 150vw * 15/1294 solid black;
            }
            .left_arrow {
              border-top: 150vw * 15/1294 solid transparent;
              border-bottom: 150vw * 15/1294 solid transparent;
              border-right: 150vw * 15/1294 solid black;
            }
          }
        }
      }
    }
  }
}
