@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.Home {
  animation: fadein 1s;
}
.page1 {
  position: relative;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 0px;
  padding-bottom: 2.57vw; //5vh;
  display: flex;
  width: 100vw;
  height: auto; //100vh; //665px;
  flex-direction: row;
  .handcropper {
    margin-left: 60px;
    width: 42.5039vw; //550px
    height: 84.2105vh; //560
    padding: 0;
    border-radius: 50%;
    overflow: hidden;
    display: block;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }
  img {
    width: 45.827vw; //593px;
    height: 46.5997vw; //90.677vh; //603px;
    margin: 0;
    margin-left: 3.091vw; //40px;
  }
  .p1text {
    width: 52.782vw; //683px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 9.66vw; //18.797vh; //125px;
    margin-left: -10.688vw; //-20.797vh; //-125px; //-105 with handcropper
    width: 52.442vw;
  }
  h1 {
    font-weight: 900;
    font-size: 5.564vw; //10.827vh; //72px;
    text-transform: uppercase;
    color: #60246c;
    letter-spacing: 0.1em;
    font-stretch: extra-condensed;
    font-weight: bolder;
    margin-bottom: -1.546vw; //-3.0075vh; //-20px;
  }
  h2 {
    font-size: 2.782vw; //5.4135vh; //36px;
    color: #60246c;
    letter-spacing: 0.06em;
    font-weight: normal;
    margin-bottom: 1.005vw; //1.955vh; //13px;
  }
  p {
    font-size: 1.855vw; //3.609vh; //24px;
    margin-bottom: 5px;
    letter-spacing: 0.03em;
  }
  #learn_more {
    color: white;
    font-weight: lighter;
    margin-top: 1.931vw; //3.759vh; //25px;
    height: 100%;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: 0.25s;
    -webkit-transition: 0.25s;

    width: 16.229vw; //210px;
    height: 4.637vw; //9.023vh; //60px;
    cursor: pointer;
    perspective: 500px;
    -webkit-perspective: 500px;
    background: none;
  }
  #learn_more span {
    transition: background-color 0.25s ease;
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    line-height: 3.864vw; //7.519vh; //50px;
    font-size: 1.855vw; //3.609vh; //24px;
    text-align: center;
    background: #60246c;
    padding-top: 0.3864vw; //0.75188vh; //5px;
    font-weight: lighter;
    letter-spacing: 0.07em;
    border-radius: 0.7748vw; //10px;
    &:hover {
      box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }
  }
  .arrow-down {
    position: absolute;
    top: 45.922vw; //90.218vh; //580px;
    left: 93.51vw; //1210px;

    width: 0;
    height: 0;
    border-left: 2.16vw solid transparent; //28px solid transparent;
    border-right: 2.16vw solid transparent; //28px solid transparent;
    border-top: 2.16vw solid #fde05b; //28px solid #fde05b;

    cursor: pointer;
  }
}

.page2 {
  position: relative;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 56.684vw; //110.3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0; //-180px;
  margin-top: 0px;
  .arrow-up {
    position: absolute;
    top: 50.232vw; //97.744vh; //650px; //103.76vh; //690px;
    left: 93.51vw; //1210px;

    width: 0;
    height: 0;
    border-left: 2.16vw solid transparent; //28px solid transparent;
    border-right: 2.16vw solid transparent; //28px solid transparent;
    border-bottom: 2.16vw solid #60246c; //28px solid #60246c;
    opacity: 1;

    cursor: pointer;
  }
  .arrow-down {
    position: absolute;
    top: 53.323vw; //103.76vh; //690px; //109.77vh; //730px;
    left: 93.51vw; //1210px;

    width: 0;
    height: 0;
    border-left: 2.16vw solid transparent; //28px solid transparent;
    border-right: 2.16vw solid transparent; //28px solid transparent;
    border-top: 2.16vw solid #fde05b; //28px solid #fde05b;

    cursor: pointer;
  }
  .eventhead {
    font-size: 3.709vw; //7.22vh; //48px;
    letter-spacing: 0.05em;
    font-stretch: extra-condensed;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 0;
    position: absolute;
  }
  .yellow_box {
    width: 100vw;
    height: 50%; //54.14vh; //500px;
    background-color: #fde05b;
  }
  button {
    background-color: transparent;
    outline: none;
  }
  h1 {
    margin-bottom: 3.5vh;
  }

  .events {
    position: absolute;
    top: 7.195vw; //14vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    width: 100vw; //auto;
    height: 51.005vw; //99.2481203vh; //660px;
    margin: auto auto;
    margin-top: 0; //-165px;
    justify-content: center;
    .event-button-container {
      height: 100%;
      width: 2.318vw; //4.511vh; //30px;
      position: relative;
      .button_left {
        position: absolute;
        align-self: end;
        width: 0;
        height: 0;
        top: 36.7%;
        right: 0;
        border-top: 2.318vw solid transparent; //30px solid transparent;
        border-bottom: 2.318vw solid transparent; //30px solid transparent;
        border-right: 2.318vw solid #60246c; //30px solid #60246c;
        z-index: 999;
        background-color: transparent;
        outline: none;
        &:focus {
          outline: none;
        }
      }

      .button_right {
        position: absolute;
        top: 36.7%;
        width: 0;
        height: 0;
        left: 0;
        //margin-top: -400px;
        border-top: 2.318vw solid transparent; //30px solid transparent;
        border-bottom: 2.318vw solid transparent; //30px solid transparent;
        border-left: 2.318vw solid #60246c; //30px solid #60246c;
        z-index: 999;
        background-color: transparent;
        outline: none;
        &:focus {
          outline: none;
        }
      }
    }
    .viewer {
      overflow: hidden;
      width: 92vw; //1150px;
      height: 50.232vw; //97.74vh; //650px;
      position: relative;
      /*margin: 500px, 40px, 600px, -800px;*/
      //margin-right: 20px;
      //margin-top: -23%;
      padding: 0px;
      .events_slider_wrapper {
        position: absolute;
        content: "";
        width: auto;
        height: 50.232vw; //97.744vh; //650px;
        margin: 0px;
        transition: transform 400ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
        top: 0;
        left: 29.5%; //27.12vw;//338px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: nowrap;
        flex-grow: 1;
        .event {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 36.63vw; //474px
          margin: 0;
          margin-right: -3.86vw; //-50px;
          transform: scale(0.575949367);
          transition: transform 400ms ease-in-out;
          p {
            width: 36.63vw; //474px
            text-align: center;
            font-size: 1.855vw; //3.609vh; //24px;
            font-weight: bold;
            letter-spacing: 0.1em;
            margin-top: 5vh;
          }
          img {
            border-radius: 50%;
            box-shadow: 5px 5px 6px grey;
            width: 36.63vw; //474px;
            height: 36.63vw; //474px;
            transition: all 0.4s ease-in-out;
          }
        }
        .event_big {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 0vh;
          transition: all 0.4s ease-in-out;
          width: 36.63vw; //474px;
          margin: 0;
          margin-right: -3.86vw; //-50px;

          img {
            border-radius: 50%;
            width: 36.63vw; //474px;
            height: 36.63vw; //474px;
            box-shadow: 12px 12px 6px grey;
            transition: all 0.4s ease-in-out;
          }
          p {
            text-align: center;
            width: 36.63vw;
            font-size: 1.855vw; //3.609vh; //24px;
            font-weight: bold;
            letter-spacing: 0.1em;
            margin: 0;
            margin-top: 2.57vw; //5vh;
          }
          .date {
            text-align: center;
            width: 36.63vw;
            font-size: 1.855vw; //3.609vh; //24px;
            font-weight: lighter;
            letter-spacing: 0.1em;
            margin: 0;
            margin-top: 0.7709vw; //1.5vh;
            animation: fadein 0.4s;
            opacity: 1;
          }
        }
      }
    }
  }
}

/*
.events_slider {
  position: relative;
  width: 600px;
  margin-left: 33%;
  &:after {
    content: "";
    display: block;
    width: 273px;
    height: 273px;
    position: absolute;
    top: 0;
    left: 0;
  }
}
*/

.page3 {
  background-color: #60246c;
  width: 100%;
  height: 61.824vw; //120.3vh; //800px;
  display: inline-flex;
  flex-direction: row;
  overflow: hidden;
  position: relative;
  .arrow-up {
    position: absolute;
    top: 57.187vw; //111.28vh; //740px;
    left: 93.51vw; //1210px;

    width: 0;
    height: 0;
    border-left: 2.16vw /*28px*/ solid transparent;
    border-right: 2.16vw /*28px*/ solid transparent;
    border-bottom: 2.16vw /*28px*/ solid #60246c;
    opacity: 1;
    cursor: pointer;
  }
  .events_container .day_detail {
    // 1294 by 665
    position: static;
    top: 34.776vw; //67.67vh; //450px;
    border-radius: 50%;
    background-color: #fde05b;
    text-align: left;
    width: 77.28vw; //1002px;
    height: 77.28vw;
    box-shadow: 15px 15px 6px rgba(43, 42, 42, 0.3);
    margin-left: -36.32vw; //-470px
    z-index: 777;
    flex-shrink: 0;
    h1,
    h2,
    p {
      margin-left: 38vw; //500px;
      width: 30.86vw; //400px;
    }
    h1 {
      margin-top: 13.138vw; //25.564vh; //170px;
      font-size: 2.782vw; //5.41vh; //36px;
      letter-spacing: 0.1em;
      margin-bottom: 1.932vw; //3.76vh; //25px;
    }
    h2 {
      font-size: 1.855vw; //3.61vh; //24px;
      font-weight: bold;
      letter-spacing: 0.05em;
      margin-bottom: 1.932vw; //3.76vh; //25px;
    }
    p {
      font-size: 1.855vw; //3.61vh; //24px;
      letter-spacing: 0.05em;
    }
    .transparent {
      color: transparent;
    }
  }
  .events_container {
    width: 100vw;
    display: flex;
    flex-direction: row;
  }
  .calendar_zone {
    border-radius: 50%;
    background-color: white;
    width: 77.43vw; //1002px;
    height: 77.43vw; //1002px;
    box-shadow: -15px -15px 6px rgba(43, 42, 42, 0.3);
    flex-shrink: 0;
    margin-top: 9vh;
    margin-left: -5vw;

    display: flex;
    flex-direction: column;
    h1 {
      margin-top: 12.782vh; //85px;
      margin-bottom: 3.008vh; //20px;
      font-size: 7.218vh; //48px;
      letter-spacing: 0.05em;
      font-weight: normal;
    }
  }
  .calendar_container {
    margin-left: 10.03vw; //130px;
    width: 52.47vw; //680px;
    h1 {
      width: 100%;
      margin-left: 0;
      text-align: center;
      font-size: 3.709vw; //7.218vh;
    }
    table {
      width: 52.087vw; //674px;
      height: 34.312vw; //444px;
      height: auto;
      text-align: center;
      font-size: 1.855vw; //3.61vh; //24px;
      border-collapse: border;
    }
    tr {
      border: none;
      height: 5.1vw; //66px;
    }
    tbody {
      width: 52.087vw; //674px;
      height: 34.312vw; //444px;
      tr {
        height: 5.1vw; //66px;
      }
    }
    th {
      font-weight: normal;
      text-transform: uppercase;
      text-align: center;
    }
    .calendar_day {
      height: 5.796vw; //11.28vh; //75px;
      width: 7.72vw; //100px;
      div {
        cursor: pointer;
        margin: auto;
        height: 3.091vw; //6.01vh; //40px;
        width: 3.86vw; //50px;
        text-align: center;
        &.today {
          background-color: #fde05b;
        }
      }
    }
    //.calendar_day.today {
    //background-color: #fde05b;
    //}
    .calendar_navi {
      text-align: center;
      margin-bottom: 3.76vh; //25px;
      font-size: 1.855vw; // 3.61vh; //24px;
      display: flex;
      align-items: center;
      justify-content: center;
      p {
        text-align: center;
        width: 15.43vw; //200px;
      }
      .right_arrow {
        width: 0;
        height: 0;
        border-top: 1.16vw solid transparent; //15px solid transparent;
        border-bottom: 1.16vw solid transparent; //15px solid transparent;
        border-left: 1.16vw solid black; //15px solid black;
        z-index: 999;
        background-color: transparent;
      }
      .left_arrow {
        width: 0;
        height: 0;
        border-top: 1.16vw solid transparent; //15px solid transparent;
        border-bottom: 1.16vw solid transparent; //15px solid transparent;
        border-right: 1.16vw solid black; //15px solid black;
        background-color: transparent;
      }
    }
  }
}

.learn {
  margin-left: 38vw; //500px;
  margin-top: 1.932vw; //3.76vh; //25px;
  height: 100%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: 0.25s;
  -webkit-transition: 0.25s;

  width: 15.43vw; //200px;
  height: 4.637vw; //9.023vh; //60px;
  cursor: pointer;
  perspective: 500px;
  -webkit-perspective: 500px;
  z-index: 999;
  span {
    transition: background-color 0.25s ease;
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    line-height: 3.864vw; //7.519vh; //50px;
    font-size: 1.752vw; //3.409vh; //17pt;
    text-align: center;
    background: #60246c;
    padding-top: 0.3864vw; //5px;
    color: white;
    font-weight: lighter;
    letter-spacing: 0.07em;
    border-radius: 1.546vw; //20px;
    z-index: 999;
  }
}
