body {
  margin: 0;
  padding: 0;
}

.panel-container {
  font-family: Roboto;
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100vh;
  margin: 0;
}
.panel-container .panel {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  flex-direction: column;
  width: 50vw;
  transition: 1s;
  padding-right: 0vw;
}

.panel #p1 {
  position: relative;
  margin-top: -30vh;
  margin-left: 5vw;
  margin-right: 0vw;
}

.panel #p2 {
  position: relative;
  margin-top: -30vh;
  margin-left: 5vw;
  margin-right: 0vw;
}

.panel-container .panel:nth-child(1) {
  background-color: #fff;
  background-image: url("../imgs/onboarding/building.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}
.panel-container .panel:nth-child(2) {
  background-color: #fde05b;
  background-image: url("../imgs/onboarding/hammock.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

.panel:hover {
  width: 70vw;
}

.panel {
  h1 {
    font-size: 72px;
    margin-bottom: -10px;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 60px;
  }
}

.panel #button1 {
  text-align: center;
  background-color: #fde05b;
  padding: 25px;
  border-radius: 25px;
  width: 245px;
  margin-bottom: 0px;
  font-weight: bold;
  cursor: pointer;
}

.panel #button2 {
  text-align: center;
  background-color: #fff;
  padding: 25px;
  border-radius: 25px;
  width: 245px;
  margin-bottom: 0px;
  font-weight: bold;
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 480px) {
  h1 {
    font-size: 36px;
    margin-bottom: -10px;
  }

  h2 {
    font-size: 10px;
    margin-bottom: 60px;
  }

  .panel #button1,
  .panel #button2 {
    width: 100px;
  }
}
