.about {
  display: flex;
  flex-direction: column;
  animation: fadein 1s;
}
.mission {
  position: relative;
  width: 100vw;
  height: 100vh;

  .hand {
    position: absolute;
    width: 593px;
    height: 603px;
    margin-left: 77%;
    padding: 0;
  }
  .mission_text {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 90px;
    right: 0;
    top: 20px; /* Adjust this value to move the positioned div up and down */
    h1 {
      font-size: 72px;
      color: #60246c;
      font-weight: bolder;
      text-transform: uppercase;
      letter-spacing: 0.1em;

      transform: scale(1, 0.97);
      margin-bottom: 45px;
    }
    p {
      font-size: 24px;
      line-height: 48px;
      letter-spacing: 0.03em;
      width: 700px;
    }
  }
}
.handbook {
  width: 100%;
  position: relative;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  h1 {
    margin-left: 90px;
    right: 0;
    font-size: 72px;
    color: #60246c;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 0.1em;

    transform: scale(1, 0.97);
    margin-bottom: 30px;
  }
  .flipbook {
    margin: auto auto;
    margin-left: 90px;
    width: 1400px;
    min-height: 300px;
    /*outline: 5px solid pink;*/
    position: relative;
    display: flex;
    flex-direction: row;
    .left_panel {
      position: relative;
      text-align: right;
      width: 300px;
      .chapter {
        position: relative;
        cursor: pointer;
        line-height: 48px;
        font-size: 24px;
        width: 300px;
        display: inline-block;
        .tria {
          width: 0;
          height: 0;
          border-top: 15px solid transparent;
          border-bottom: 15px solid transparent;
          border-left: 15px solid #60246c;
          z-index: 999;
          background-color: transparent;
          float: right;
          position: absolute;
          top: 9px;
          left: 315px;
          animation: fadein 0.4s;
        }
      }
      .chapter.purple {
        font-weight: bold;
        color: #60246c;
      }
    }
    .left_panel_locked {
      position: fixed;
      text-align: right;
      left: -10px;
      top: 19px;
      width: 400px;
      .chapter {
        position: relative;
        cursor: pointer;
        line-height: 48px;
        font-size: 24px;
        width: 300px;
        display: inline-block;
        .tria {
          width: 0;
          height: 0;
          border-top: 15px solid transparent;
          border-bottom: 15px solid transparent;
          border-left: 15px solid #60246c;
          z-index: 999;
          background-color: transparent;
          float: right;
          position: absolute;
          top: 9px;
          left: 315px;
          animation: fadein 0.4s;
        }
      }
      .chapter.purple {
        font-weight: bold;
        color: #60246c;
      }
    }
    .line {
      border-left: 5px solid #fde05b;
      margin-left: 45px;
      margin-top: -25px;
    }
    .line_locked {
      position: fixed;
      border-left: 5px solid #fde05b;
      /*left: 31.9vw;*/
      left: 435px;
      top: 0px;
      bottom: 0;
    }
    .right_panel {
      position: relative;
      margin-left: 50px;
      /*margin-left: 480px;*/

      min-height: 200px;
      width: 780px;
      padding-bottom: 50px;
      h1 {
        animation: fadein 0.4s;
        color: black;
        font-size: 36px;
        text-align: left;
        text-transform: Capitalize;
        letter-spacing: 0.1em;
        margin-left: 0px;
        margin-bottom: 25px;
      }
      .right_content {
        animation: fadein 0.4s;
        width: 100%;
        font-size: 18px;
        letter-spacing: 0.05em;
        line-height: 36px;
        transform: scale(1, 1);
      }
      .right_content.boldy {
        font-weight: bold;
      }
    }
    .right_panel_locked {
      position: relative;
      margin-left: 400px;

      min-height: 200px;
      width: 780px;
      padding-bottom: 50px;
      h1 {
        animation: fadein 0.4s;
        color: black;
        font-size: 36px;
        text-align: left;
        text-transform: Capitalize;
        letter-spacing: 0.1em;
        margin-left: 0px;
        margin-bottom: 25px;
      }
      .right_content {
        animation: fadein 0.4s;
        width: 100%;
        font-size: 18px;
        letter-spacing: 0.05em;
        line-height: 36px;
        transform: scale(1, 1);
      }
      .right_content.boldy {
        font-weight: bold;
      }
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes colorin {
  from {
    color: black;
    font-weight: normal;
  }
  to {
    color: #60246c;
    font-weight: bold;
  }
}
