#contact_us {
  margin-left: 6vw;
}

#contact_us #contact_head {
  font-size: 72px;
  color: purple;
  font-weight: bold;
  margin-top: 4vh;
  margin-bottom: 3vh;
  letter-spacing: 0.08em;
}

#contact_us p {
  font-size: 24px;
  font-weight: bold;
}

h3 {
  margin-top: 10vh;
  margin-bottom: 6vh;
  margin-left: 6vw;
  font-size: 24px;
  font-weight: bold;
}
#t1 {
  margin-top: auto;
  margin-bottom: 6vh;
  margin-left: 6vw;
  font-size: 24px;
}
