#footer {
  padding: 0;
  margin: 0;
  position: relative;
  //height: 25.116vw; //48.871vh; //325px;
  //width: 100vw; // 1294px;;
  //min-height: 325px;
  background: black;
  vertical-align: top;
  display: flex;
  align-content: space-between;
  flex-shrink: 0;
  min-width: 1294px;
}
#icons {
  width: 65px; //5.023vw; //65px;
  margin-left: 15px; //1.1591vw; //15px;
  margin-top: 40px; //3.091vw; //40px;
  border: 5px solid pink;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

#icons img {
  width: 100%;
  vertical-align: middle;
  object-fit: scale-down;
}

#fb {
  width: 77%;
  margin-left: 7px; //0.54096vw; //7px;
  margin-bottom: 12px; //0.9274vw; //12px;
}

#footer_addr {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: Roboto;
  align-items: center;
  flex-grow: 0.84;
}

#footer_addr .logo {
  width: 100.5px; //7.767vw; //100.5px; //10%;
  height: auto;
}

#footer_addr p {
  margin: 0;
  padding: 0;
  letter-spacing: 0.1em;
  font-size: 16px; //1.236vw; //16px;
}

#copyright {
  margin: 0;
  padding: 0;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-size: 16px; //1.236vw; //16px;
}
