#footer {
  padding: 0;
  margin: 0;
  position: relative;
  height: 325px;
  width: 100vw;
  background: black;
  display: flex;
  align-items: flex-start;
  flex: 1 1 auto;
  flex-grow: 1;
}

#icons {
  width: 65px;
  margin-left: 15px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

#icons img {
  width: 100%;
  vertical-align: middle;
  object-fit: scale-down;
}

#fb {
  width: 77%;
  margin-left: 7px;
  margin-bottom: 12px;
}

#footer_addr {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: Roboto;
  align-items: center;
  flex-grow: 0.84;
}

#footer_addr .logo {
  width: 10%;
  height: auto;
}

#footer_addr p {
  margin: 0;
  padding: 0;
  letter-spacing: 0.1em;
}

#copyright {
  font-weight: bold;
  letter-spacing: 0.2em;
}

.admin_login {
  position: absolute;
  top: 45vh;
  left: 92vw;
  color: white;
  cursor: pointer;
  height: auto;
  width: auto;
}
