#navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0;
  border: 0;
  position: relative;
  -webkit-animation: fadein 1s;
  animation: fadein 1s;
  margin-top: 12px;
  margin-bottom: -25px;

  .mr-2 {
    width: 40px;
  }

  i {
    display: none;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul {
  margin: 0;
  white-space: nowrap;
}
#navbar .logo {
  width: 90px;
  height: 105.497px;
  margin-right: 23px;
  margin-left: 13px;
}

#navbar #links {
  margin-left: 0px;
  list-style: none;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
}
#navbar #links {
  width: 1200px;
  height: 50px;
  text-align: center;
  margin-top: 33px;
  margin-left: -20px;
  li {
    font: Roboto;
    display: inline-block;
    font-size: 20px;
    padding: 0px;
    margin-left: 0px;

    text-decoration: none;
    width: 168px;
    a,
    a:visited {
      text-decoration: none;
      color: black;
      span {
        padding-bottom: 3px;
      }
    }
    a.active {
      font-weight: bold;
      span {
        border-bottom: 2px solid black;
      }
    }
  }
  .about_drop_wrap {
    position: relative;
    margin-right: 0;
    text-align: center;
    height: 50px;
  }
  .about_drop_content a {
    font-weight: normal;
    float: none;
    padding: 16px 12px;
    display: block;
    border-bottom: 2px solid rgb(177, 177, 177);
    background: none;
  }
  .about_drop_content {
    z-index: 999;
    opacity: 0;
    position: relative;
    top: 5px;
    visibility: hidden;
    width: auto;
    background-color: #f9f9f9;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    -webkit-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
  }
  .about_drop_wrap:hover .about_drop_content {
    display: block;
    visibility: visible;
    opacity: 1;
  }
}
/*
@media only screen and (max-width: 1000px) {
  #navbar {
    i {
      display: block;
      margin-top: 30px;
      transform: scale(1.5);
    }
  }
  #navbar #links {
    margin-left: -100px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 90px;
    z-index: 999;
    background-color: rgba(190, 189, 189, 0.95);
    &.collapse {
      transform: scaleY(0);
      transform-origin: top center;
    }
    &.uncollapse {
      transform: scaleY(1);
      transition: 0.3s ease-in-out;
    }
    li {
      font: Roboto;
      font-size: 20px;
      padding: 0px;
      justify-content: center;
      align-items: center;
      text-decoration: none;

      a.fold {
        display: none;
        opacity: 0;
      }
      a.unfold {
        padding: 16px 0px;
        display: block;
        opacity: 1;
      }
    }
    .about_drop_wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .about_drop_content a {
      border-bottom: none;
    }
    .about_drop_content {
      opacity: 1;
      transition: none;
      display: block;
      position: relative;
      background-color: transparent;
      box-shadow: none;
      text-align: center;
      left: 0;
      background-color: rgba(212, 212, 212, 0.98);
      width: 100vw;
      top: 0;
      visibility: visible;
      &.elec {
        left: 0px;
      }
    }

    .about_drop_wrap:hover .about_drop_content {
      margin: 0;
      top: 0;
    }
  }
}
*/
