#navbar {
  display: flex;
  width: 100%;
  margin: 0;
  border: 0;
  position: relative;
  animation: fadein 1s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul {
  margin: 0;
}

#navbar .logo {
  width: 8%;
  height: 8%;
  margin-right: 23px;
}

#navbar #links {
  margin-left: 0px;
  list-style: none;

  display: flex;
  align-items: center;

  transition: 0.4s ease all, 0s ease background;
}
#navbar #links {
  li {
    font: Roboto;
    font-size: 20px;
    padding: 0px;
    margin-left: 0px;
    margin-right: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    a,
    a:visited {
      text-decoration: none;
      color: black;
    }
    a.active {
      text-decoration: underline;
      font-weight: bold;
    }
  }

  .about_drop_content a {
    float: none;
    padding: 20px 16px;
    display: block;
    border-bottom: 2px solid rgb(177, 177, 177);
  }
  .about_drop_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .about_drop_wrap:hover .about_drop_content {
    display: block;
    margin-left: -50px;
  }
  /*
  .about_drop_wrap:focus {
    height: auto;
    outline: 5px pink solid;
  }
  .about_drop_wrap:focus .about_drop_content {
    display: flex;
    position: fixed;
    top: 80px;
    left: 175px;
    flex-direction: column;
    text-decoration: none;
    color: black;
    text-align: center;
    animation: fadein 1s ease-in-out;
  }*/
}
