#buttons {
  margin-top: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#buttons .button {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: flex-end;
  border-radius: 50%;
  width: 315px;
  height: 315px;
  background: #fde05b;
  transition: background 0.25s ease;
}

#buttons .button:hover {
  background: #60246c;
  justify-content: center;
}

#buttons p {
  margin-top: 15px;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: bold;
}

#buttons .button .hoveron {
}
